$sidebarWidth: 300px;

.user-layout {
    min-height: 100%;
    height: 100%;

    .user-layout-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: $sidebarWidth;
        padding: 2rem;
        background-color: var(--backgroundDark);

        .user-layout-menu {
            .user-menu-item {
                color: var(--textLight);

                &:hover {
                    color: var(--textLightHover)
                }
            }
        }
    }

    .user-layout-main {
        margin-left: $sidebarWidth;
        width: calc(100% - $sidebarWidth);
        height: 100%;
    }
}