.brand {
    display: block;
    width: fit-content;
    color: var(--colorPrimary);
    padding: 0.5rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}