.category {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 1rem;

    .category-icon {
        font-size: 4rem;
    }

    .category-name {
        font-size: 1rem;
    }
}